
<div class="photo-card">
  <div class="body">
      <div class="overlide"></div>
      <img class="photo" [src]="sanitizerPhoto(endpoint+inputPhoto.name)" alt="">
  </div>
  <div class="footer">
      <div class="dflex-jc-sb">
        <span class="caption ">24 October</span>
        <div class=" dflex-jc-end">
          <a class="action pointer">
            <i class="far fa-heart"></i>
          </a>
          <a class="action pointer">
            <i class="fas fa-ellipsis-v"></i>
          </a>
        </div>
        </div>   
    </div>
</div>
  


